@import url("./assets/fonts/Darker\ Grotesque/style.css");
@import url("./assets/fonts/Space\ Grotesk/style.css");
* {
  font-family: "Space Grotesk Regular";
}
body {
  margin: 0;
  font-family: "Space Grotesk Regular", "Darker Grotesque Regular",
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
